section.footer 
	.section_in 
		.footer_main
			.footer_content
				.footer_head
					h2 Получите консультацию нашего специалиста
					p Оставьте заявку, и мы свяжемся с вами!
				.footer_form_w
					.footer_form
						form(action="").footer_form
							.footer_form_input 
								input(type="text" placeholder="Ваше имя") 
							.footer_form_input
								input(type="tel" placeholder="Ваш телефон")
							.footer_form_btn 
								button(type="submit") Отправить
					.footer_policy!='Отправляя форму, вы соглашаетесь с <a href="#">политикой конфиденциальности</a>.'
			.footer_bottom 
				.footer_copyright 
					p © 2022 Все права защищены
				.footer_policy_b 
					a(href="#") Политикa Конфиденциальности
				.footer_arkada
					a(href="#")  
						img(src="i/arkada.png", alt="")
