header.header
	.section_in
		.header_main
			.heade_logo_w 
				.header_logo 
					a(href="#")
						img(src="i/logo.png", alt="") 
				.header_menu 
					ul 
						li 
							a(href="#") 
								p Услуги
						li 
							a(href="#") 
								p Преимущества
						li 
							a(href="#") 
								p О нас
						li 
							a(href="#") 
								p Контакты
				.header_phone
					ul 
						li 
							a(href="#")
								p +7 (928) 750-31-11
						li
							a(href="#")
								p +7 (863) 226-26-40  