.popup.popup_submit
	.popup_form_bg.close_popups
	.popup_form_w
		.popup_close.close_popups 
			button(type="button")
				+icon('close')
		.popup_form_head 
			h3 Заполните форму
		form.popup_form
			.popup_form_input
				input(type="text" placeholder="Ваше имя")
			.popup_form_input
				input(type="tel" placeholder="Ваш телефон")
			.popup_form_btn 
				button(type="submit") Отправить
		.popup_policy!='Отправляя форму, вы соглашаетесь с<a href="#"> политикой конфиденциальности</a>.'


.popup.popup_info 
	.popup_form_bg.close_popups 
	.popup_form_i 
		.popup_close.close_popups 
			button(type="button")
				+icon('close') 
		h2 Техническое обслуживание
		.popup_form_txt
			p Каждый автомобилист дорожит своим авто и хочет, чтобы срок его эксплуатации был как можно больше. Но не все задумываются над тем, как же сделать так, чтобы автомобиль не ломался и не приходилось, сломя голову, лететь в сервисный центр. Любую проблему гораздо легче предупредить, тем самым предотвратив ее, чем решить. Вот именно поэтому и необходимо вовремя воспользоваться услугой качественного комплексного ТО, дабы не "мигать аварийкой" где-нибудь на обочине в ожидании помощи
			p Идеальный вариант для прохождения Вашим авто комплексного ТО - это подготовка к сезонным переменам, то есть с зимы на лето, и с лета на зиму.
			p Каждосезонное прохождение ТО с использованием высококачественного оборудования поможет Вам сократить расходы в дальнейшем и увеличить срок жизни Вашего авто.
			p А если взять во внимание, что наши дороги оставляют желать лучшего, а процент именно таких дорожных покрытий весьма велик, то тем более необходимо задуматься о том, как давно вы уделяли своей машине качественное внимание профессионалов.
			p Рассмотрим подробнее комплексное техобслуживание автомобиля.
			p В сервисном центре Вам могут предложить целый ряд услуг по ТО, которые максимально помогут Вам сделать Ваше авто безопаснее, надежнее и наиболее комфортным.
			p В сервисном центре Вам могут предложить целый ряд услуг по ТО, которые максимально помогут Вам сделать Ваше авто безопаснее, надежнее и наиболее комфортным.
			p В сервисном центре Вам могут предложить целый ряд услуг по ТО, которые максимально помогут Вам сделать Ваше авто безопаснее, надежнее и наиболее комфортным.
			p В сервисном центре Вам могут предложить целый ряд услуг по ТО, которые максимально помогут Вам сделать Ваше авто безопаснее, надежнее и наиболее комфортным.
			p В сервисном центре Вам могут предложить целый ряд услуг по ТО, которые максимально помогут Вам сделать Ваше авто безопаснее, надежнее и наиболее комфортным.
			p В сервисном центре Вам могут предложить целый ряд услуг по ТО, которые максимально помогут Вам сделать Ваше авто безопаснее, надежнее и наиболее комфортным.
			p В сервисном центре Вам могут предложить целый ряд услуг по ТО, которые максимально помогут Вам сделать Ваше авто безопаснее, надежнее и наиболее комфортным.
			p В сервисном центре Вам могут предложить целый ряд услуг по ТО, которые максимально помогут Вам сделать Ваше авто безопаснее, надежнее и наиболее комфортным.
		.popup_form_i_btn
			ul 
				li
					.popup_form_i_order
						button(type="button") Заказать
				li
					.popup_form_i_link
						a(href="#") WhatsApp